header {
  width: 100%;
  background-color: var(--secondary-theme);
}

main {
  background-color: var(--background-theme);
  border-radius: 20px 20px 0 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.genre-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  h2 {
    color: white;
    font-weight: var(--font-weight-bold-1);
  }
}
