header {
  width: 100%;
  background-color: var(--secondary-theme);
}

main {
  background-color: var(--background-theme);
  border-radius: 20px 20px 0 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 4em;

  .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  h2 {
    color: white;
    font-weight: var(--font-weight-bold-1);
    margin-bottom: 1em;
  }
}
