header {
  width: 100%;
  background-color: var(--secondary-theme);
}

main {
  background-color: var(--background-theme);
  border-radius: 20px 20px 0 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.books-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  overflow-x: auto;
}
