.book-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.75em;
  padding: 0.5em;
  background-color: white;
  border-radius: var(--border-radius);
  width: 170px;

  .image-container {
    width: 152px;
    height: 200px;
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  .add-button {
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--primary-theme);
    color: white;
    padding: 0.5em;
  }

  .title {
    font-size: 1rem;
    font-weight: var(--font-weight-bold-1);
  }

  p {
    font-size: 0.9rem;
  }
}
